<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <!-- title -->
        <title>POFO – Creative Agency, Corporate and Portfolio Multi-purpose Template</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
        <meta name="author" content="ThemeZaa">
        <!-- description -->
        <meta name="description" content="POFO is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose agency and portfolio HTML5 template with 25 ready home page demos.">
        <!-- keywords -->
        <meta name="keywords" content="creative, modern, clean, bootstrap responsive, html5, css3, portfolio, blog, agency, templates, multipurpose, one page, corporate, start-up, studio, branding, designer, freelancer, carousel, parallax, photography, personal, masonry, grid, coming soon, faq">
        <!-- favicon -->
        <link rel="shortcut icon" href="images/favicon.png">
        <link rel="apple-touch-icon" href="images/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
        <!-- animation -->
        <link rel="stylesheet" href="css/animate.css" />
        <!-- bootstrap -->
        <link rel="stylesheet" href="css/bootstrap.min.css" />
        <!-- et line icon --> 
        <link rel="stylesheet" href="css/et-line-icons.css" />
        <!-- font-awesome icon -->
        <link rel="stylesheet" href="css/font-awesome.min.css" />
        <!-- themify icon -->
        <link rel="stylesheet" href="css/themify-icons.css">
        <!-- swiper carousel -->
        <link rel="stylesheet" href="css/swiper.min.css">
        <!-- justified gallery  -->
        <link rel="stylesheet" href="css/justified-gallery.min.css">
        <!-- magnific popup -->
        <link rel="stylesheet" href="css/magnific-popup.css" />
        <!-- revolution slider -->
        <link rel="stylesheet" type="text/css" href="revolution/css/settings.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="revolution/css/layers.css">
        <link rel="stylesheet" type="text/css" href="revolution/css/navigation.css">
        <!-- bootsnav -->
        <link rel="stylesheet" href="css/bootsnav.css">
        <!-- style -->
        <link rel="stylesheet" href="css/style.css" />
        <!-- responsive css -->
        <link rel="stylesheet" href="css/responsive.css" />
        <!--[if IE]>
            <script src="js/html5shiv.js"></script>
        <![endif]-->
    </head>
    <body class="bg-background-fade">
        <!-- start header -->
        <header>
            <!-- start navigation -->
            <nav class="navbar navbar-default bootsnav nav-top-scroll bg-transparent nav-box-width white-link padding-four-lr menu-logo-center">
                <div class="container nav-header-container">
                    <div class="row">
                        <div class="center-logo">
                            <a href="index.html" title="Pofo" class="logo"><img src="images/logo.png" data-at2x="images/logo@2x.png" class="logo-dark" alt="Pofo"><img src="images/logo-full-white.png" data-at2x="images/logo-full-white@2x.png" alt="Pofo" class="logo-light default"></a>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 accordion-menu">
                            <button type="button" class="navbar-toggle collapsed pull-right" data-toggle="collapse" data-target="#navbar-collapse-toggle-1">
                                <span class="sr-only">toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="navbar-collapse collapse no-padding-right" id="navbar-collapse-toggle-1">
                                <ul class="nav navbar-nav navbar-left text-right no-margin alt-font text-normal width-40 sm-width-100 sm-text-left" data-in="fadeIn" data-out="fadeOut">
                                    <li class="dropdown megamenu-fw">
                                        <a href="javascript:void(0);">Home</a><i class="fa fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
                                    </li>
									<li class="dropdown simple-dropdown">
										<a href="/services">Services</a><i class="fa fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
									</li>
                                    <li class="dropdown megamenu-fw">
                                        <a href="/portofolio">Portfolio</a><i class="fa fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
                                    </li>
									<li class="dropdown simple-dropdown">
										<a href="/blog" title="Blog">Blog</a><i class="fa fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
                                    </li>
                                </ul>
                                <ul class="nav navbar-nav navbar-right no-margin alt-font text-normal width-40 sm-width-100" data-in="fadeIn" data-out="fadeOut">                                    
                                    <li class="dropdown megamenu-fw">
                                        <a href="aboutus">About Us</a><i class="fa fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
                                    </li>
                                    <li class="dropdown megamenu-fw">
                                        <a href="contact">Contact</a><i class="fa fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- end navigation -->  
        </header>
        <!-- end header -->
        <!-- start hero section -->
        <section class="wow fadeIn no-padding cover-background color-code" data-color="1"  style="background-image: url('http://placehold.it/1920x1161');">
            <div class="container full-screen position-relative">
                <div class="slider-typography text-left">
                    <div class="slider-text-middle-main">
                        <div class="slider-text-middle">
                            <div class="col-lg-7 col-md-10 col-sm-10 center-col text-center">
                                <span class="after-before-separator text-extra-small alt-font text-white letter-spacing-3 xs-letter-spacing-0 text-uppercase margin-20px-bottom xs-margin-5px-bottom display-inline-block">we work hard, we play hard</span>
                                <h2 class="font-weight-600 text-white alt-font margin-40px-bottom xs-margin-25px-bottom">We combine design, thinking and technical</h2>
                                <a href="portfolio-full-width-grid-transform.html" class="btn btn-transparent-white btn-rounded btn-medium text-link-white">Featured Works</a>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </section>
        <!-- end hero section -->
        <!-- start section -->
        <section class="wow fadeIn color-code md-no-background-img" data-color="2" style="background: url('images/back-image1.png') left bottom no-repeat,url('images/back-image2.png') right top no-repeat">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-10 col-sm-10 col-xs-12 center-col text-center xs-padding-15px-lr">
                        <div class="text-extra-small letter-spacing-3 alt-font text-white text-uppercase margin-70px-bottom sm-margin-50px-bottom xs-margin-30px-bottom display-inline-block">about branding agency</div>
                        <h3 class="text-white alt-font width-95 sm-width-100 margin-70px-bottom sm-no-margin-bottom">Pofo is a branding agency based in London. I design thoughtful digital experiences & beautiful brand aesthetics.</h3>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start portfolio section -->
        <section class="wow fadeIn color-code no-padding xs-padding-50px-tb" data-color="3"> 
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-9 col-sm-10 col-xs-12 center-col text-center">
                        <div class="text-extra-small letter-spacing-3 alt-font text-white text-uppercase margin-70px-bottom sm-margin-50px-bottom xs-margin-30px-bottom display-inline-block">Selected Works</div> 
                    </div>
                </div> 
                <div class="row">
                    <div class="filter-content overflow-hidden padding-100px-lr sm-no-padding-lr xs-padding-15px-lr">
                        <ul class="portfolio-grid work-3col hover-option8 gutter-medium">
                            <li class="grid-sizer"></li>
                            <!-- start portfolio item -->
                            <li class="grid-item web branding design wow fadeInUplast-paragraph-no-margin">
                                <a href="single-project-page-01.html">
                                    <figure>
                                        <div class="portfolio-img"><img src="http://placehold.it/800x650" alt=""/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main">
                                                <div class="portfolio-hover-box vertical-align-middle"> 
                                                    <div class="portfolio-icon alt-font font-weight-600 icon-medium text-deep-pink">+</div>
                                                    <span class="text-medium alt-font text-extra-dark-gray margin-5px-bottom">Tailoring Interior</span>
                                                    <p class="text-small no-letter-spacing text-medium-gray">Branding and Brochure</p>
                                                </div>
                                            </div> 
                                        </figcaption>
                                    </figure>
                                </a>
                            </li>
                            <!-- end portfolio item -->
                            <!-- start portfolio item -->
                            <li class="grid-item web branding design wow fadeInUp last-paragraph-no-margin" data-wow-delay="0.2s">
                                <a href="single-project-page-02.html">
                                    <figure>
                                        <div class="portfolio-img"><img src="http://placehold.it/800x650" alt=""/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main">
                                                <div class="portfolio-hover-box vertical-align-middle"> 
                                                    <div class="portfolio-icon alt-font font-weight-600 icon-medium text-deep-pink">+</div>
                                                    <span class="text-medium alt-font text-extra-dark-gray margin-5px-bottom">Love Fashion</span>
                                                    <p class="text-small no-letter-spacing text-medium-gray">Branding and Brochure</p>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </a>
                            </li>
                            <!-- end portfolio item -->
                            <!-- start portfolio item -->
                            <li class="grid-item advertising branding photography wow fadeInUp last-paragraph-no-margin" data-wow-delay="0.4s">
                                <a href="single-project-page-06.html">
                                    <figure>
                                        <div class="portfolio-img"><img src="http://placehold.it/800x650" alt=""/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main">
                                                <div class="portfolio-hover-box vertical-align-middle"> 
                                                    <div class="portfolio-icon alt-font font-weight-600 icon-medium text-deep-pink">+</div>
                                                    <span class="text-medium alt-font text-extra-dark-gray margin-5px-bottom">Pixflow Studio</span>
                                                    <p class="text-small no-letter-spacing text-medium-gray">Branding and Identity</p>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </a>
                            </li>
                            <!-- end portfolio item -->
                            <!-- start portfolio item -->
                            <li class="grid-item web advertising design wow fadeInUp last-paragraph-no-margin">
                                <a href="single-project-page-03.html">
                                    <figure>
                                        <div class="portfolio-img"><img src="http://placehold.it/800x650" alt=""/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main">
                                                <div class="portfolio-hover-box vertical-align-middle"> 
                                                    <div class="portfolio-icon alt-font font-weight-600 icon-medium text-deep-pink">+</div>
                                                    <span class="text-medium alt-font text-extra-dark-gray margin-5px-bottom">Designblast Inc</span>
                                                    <p class="text-small no-letter-spacing text-medium-gray">Web and Photography</p>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </a>
                            </li>
                            <!-- end portfolio item -->
                            <!-- start portfolio item -->
                            <li class="grid-item web branding design wow fadeInUp last-paragraph-no-margin" data-wow-delay="0.2s">
                                <a href="single-project-page-04.html">
                                    <figure>
                                        <div class="portfolio-img"><img src="http://placehold.it/800x650" alt=""/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main">
                                                <div class="portfolio-hover-box vertical-align-middle"> 
                                                    <div class="portfolio-icon alt-font font-weight-600 icon-medium text-deep-pink">+</div>
                                                    <span class="text-medium alt-font text-extra-dark-gray margin-5px-bottom">Harddot Stone</span>
                                                    <p class="text-small no-letter-spacing text-medium-gray">Branding and Identity</p>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </a>
                            </li>
                            <!-- end portfolio item -->
                            <!-- start portfolio item -->
                            <li class="grid-item web advertising branding design photography wow fadeInUp last-paragraph-no-margin" data-wow-delay="0.4s">
                                <a href="single-project-page-05.html">
                                    <figure>
                                        <div class="portfolio-img"><img src="http://placehold.it/800x650" alt=""/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main">
                                                <div class="portfolio-hover-box vertical-align-middle"> 
                                                    <div class="portfolio-icon alt-font font-weight-600 icon-medium text-deep-pink">+</div>
                                                    <span class="text-medium alt-font text-extra-dark-gray margin-5px-bottom">Educamp School</span>
                                                    <p class="text-small no-letter-spacing text-medium-gray">Branding and Identity</p>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </a>
                            </li>
                            <!-- end portfolio item --> 
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- end portfolio section -->
        <!-- start counter section -->
        <section class="wow fadeIn md-no-background-img" style="background: url('images/back-image3.png') right center no-repeat">
            <div class="container">
                <div class="row">
                    <!-- start counter item -->
                    <div class="col-md-3 col-sm-3 col-xs-12 xs-margin-30px-bottom text-center wow zoomIn">
                        <h5 class="text-white no-margin timer alt-font" data-speed="2000" data-to="650">350</h5>
                        <span class="text-extra-small text-uppercase text-white display-block margin-three-bottom sm-margin-15px-bottom">Happy Clients</span>
                        <div class="separator-line-verticle-large bg-transparent-white display-inline-block"></div>
                    </div>
                    <!-- end counter item -->
                    <!-- start counter item -->
                    <div class="col-md-3 col-sm-3 col-xs-12 xs-margin-30px-bottom text-center wow zoomIn" data-wow-delay="0.2s">
                        <h5 class="text-white no-margin timer alt-font" data-speed="2000" data-to="987">1500</h5>
                        <span class="text-extra-small text-uppercase text-white display-block margin-three-bottom sm-margin-15px-bottom">Photo Capture</span>
                        <div class="separator-line-verticle-large bg-transparent-white display-inline-block"></div>
                    </div>
                    <!-- end counter item -->
                    <!-- start counter item -->
                    <div class="col-md-3 col-sm-3 col-xs-12 xs-margin-30px-bottom text-center wow zoomIn" data-wow-delay="0.4s">
                        <h5 class="text-white no-margin timer alt-font" data-speed="2000" data-to="350">875</h5>
                        <span class="text-extra-small text-uppercase text-white display-block margin-three-bottom sm-margin-15px-bottom">Work Completed</span>
                        <div class="separator-line-verticle-large bg-transparent-white display-inline-block"></div>
                    </div>
                    <!-- end counter item -->
                    <!-- start counter item -->
                    <div class="col-md-3 col-sm-3 col-xs-12 text-center wow zoomIn" data-wow-delay="0.6s">
                        <h5 class="text-white no-margin timer alt-font" data-speed="2000" data-to="850">984</h5>
                        <span class="text-extra-small text-uppercase text-white display-block margin-three-bottom sm-margin-15px-bottom">Telephonic Talk</span>
                        <div class="separator-line-verticle-large bg-transparent-white display-inline-block"></div>
                    </div>
                    <!-- end counter item -->
                </div>
            </div>            
        </section>
        <!-- end counter section -->
        <!-- start blog section -->
        <section class="wow fadeIn animated color-code no-padding-top md-no-background-img xs-padding-50px-tb" data-color="4" style="background: url('images/back-image4.png') left bottom no-repeat">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-sm-10 col-xs-12 center-col text-center">
                        <div class="text-extra-small letter-spacing-3 alt-font text-white text-uppercase margin-70px-bottom sm-margin-50px-bottom xs-margin-30px-bottom display-inline-block">Recent Blogs</div> 
                    </div>
                </div> 
                <div class="row equalize xs-equalize-auto">
                    <!-- start blog post item -->
                    <div class="col-md-4 col-sm-4 col-xs-12 xs-margin-15px-bottom wow fadeIn">
                        <div class="blog-post blog-post-style6 border-all border-white-light padding-fourteen-all md-padding-ten-all xs-padding-30px-all inner-match-height">
                            <div class="post-details">
                                <span class="text-extra-small text-white text-uppercase display-block margin-four-bottom sm-margin-two-bottom opacity7">25 March 2017</span>
                                <span class="text-large alt-font margin-50px-bottom xs-margin-30px-bottom display-block inner-match-height"><a href="blog-post-layout-01.html" class="text-white">The only important thing about design is how it relates to people.</a></span>
                                <div class="author padding-10px-top position-relative">
                                    <span class="text-white text-uppercase text-extra-small">by <a href="blog-only-text.html" class="text-white">Jay Benjamin</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- start blog post item -->
                    <!-- end blog post item -->
                    <div class="col-md-4 col-sm-4 col-xs-12 xs-margin-15px-bottom fadeIn" data-wow-delay="0.2s">
                        <!-- fresh news item -->
                        <div class="blog-post blog-post-style6 border-all border-white-light padding-fourteen-all md-padding-ten-all xs-padding-30px-all inner-match-height">
                            <div class="post-details">
                                <span class="text-extra-small text-white text-uppercase display-block margin-four-bottom sm-margin-two-bottom opacity7">20 March 2017</span>
                                <span class="text-large alt-font margin-50px-bottom xs-margin-30px-bottom display-block  inner-match-height"><a href="blog-post-layout-02.html" class="text-white">Do good work for good people. Good design is a language, not a style.</a></span>
                                <div class="author padding-10px-top position-relative">
                                    <span class="text-white text-uppercase text-extra-small">by <a href="blog-only-text.html" class="text-white">Herman Miller</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- start blog post item -->
                    <!-- end blog post item -->
                    <div class="col-md-4 col-sm-4 col-xs-12 fadeIn" data-wow-delay="0.4s">
                        <div class="blog-post blog-post-style6 border-all border-white-light padding-fourteen-all md-padding-ten-all xs-padding-30px-all inner-match-height">
                            <div class="post-details">
                                <span class="text-extra-small text-white text-uppercase display-block margin-four-bottom sm-margin-two-bottom opacity7">15 March 2017</span>
                                <span class="text-large alt-font margin-50px-bottom xs-margin-30px-bottom display-block inner-match-height"><a href="blog-post-layout-03.html" class="text-white">Leopard is an animal design, and my designs come from nature.</a></span>
                                <div class="author padding-10px-top position-relative">
                                    <span class="text-white text-uppercase text-extra-small">by <a href="blog-only-text.html" class="text-white">Hugh Macleod</a></span>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <!-- start blog post item -->
                </div>
            </div>
        </section>
        <!-- end blog section -->
        <!-- start clients logo section  -->
        <section class="color-code no-padding-tb xs-padding-50px-tb" data-color="5">
            <div class="container"> 
                <div class="row">
                    <div class="col-md-9 col-sm-10 col-xs-12 center-col text-center">
                        <div class="text-extra-small letter-spacing-3 alt-font text-white text-uppercase margin-70px-bottom sm-margin-50px-bottom xs-margin-30px-bottom display-inline-block">Our Clients</div> 
                    </div>
                </div> 
                <div class="row text-center">
                    <!-- start client logo item -->
                    <div class="col-md-3 col-sm-3 col-xs-12 margin-three-bottom xs-margin-15px-bottom wow fadeInDown">
                        <a href="https://envato.com" target="_blank"><img src="images/logo-9.png" alt=""></a>
                    </div>
                    <!-- end client logo item -->
                    <!-- start client logo item -->
                    <div class="col-md-3 col-sm-3 col-xs-12 margin-three-bottom xs-margin-15px-bottom wow fadeInDown" data-wow-delay="0.2s">
                        <a href="https://woocommerce.com" target="_blank"><img src="images/logo-10.png" alt=""></a>
                    </div>
                    <!-- end client logo item -->
                    <!-- start client logo item -->
                    <div class="col-md-3 col-sm-3 col-xs-12 margin-three-bottom xs-margin-15px-bottom wow fadeInDown" data-wow-delay="0.4s">
                        <a href="https://magento.com" target="_blank"><img src="images/logo-11.png" alt=""></a>
                    </div>
                    <!-- end client logo item -->
                    <!-- start client logo item -->
                    <div class="col-md-3 col-sm-3 col-xs-12 margin-three-bottom xs-margin-15px-bottom wow fadeInDown" data-wow-delay="0.6s">
                        <a href="https://lesscss.org" target="_blank"><img src="images/logo-12.png" alt=""></a>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 xs-margin-15px-bottom wow fadeInDown" data-wow-delay="0.8s">
                        <a href="https://www.pingdom.com" target="_blank"><img src="images/logo-13.png" alt=""></a>
                    </div>
                    <!-- end client logo item -->
                    <!-- start client logo item -->
                    <div class="col-md-3 col-sm-3 col-xs-12 xs-margin-15px-bottom wow fadeInDown" data-wow-delay="1s">
                        <a href="www.wordpress.com" target="_blank"><img src="images/logo-14.png" alt=""></a>
                    </div>
                    <!-- end client logo item -->
                    <!-- start client logo item -->
                    <div class="col-md-3 col-sm-3 col-xs-12 xs-margin-15px-bottom wow fadeInDown" data-wow-delay="1.2s">
                        <a href="https://jquery.com/" target="_blank"><img src="images/logo-15.png" alt=""></a>
                    </div>
                    <!-- end client logo item -->
                    <!-- start client logo item -->
                    <div class="col-md-3 col-sm-3 col-xs-12 wow fadeInDown" data-wow-delay="1.4s">
                        <a href="https://google.com/" target="_blank"><img src="images/logo-16.png" alt=""></a>
                    </div>
                    <!-- end client logo item -->
                </div>
            </div>
        </section>
        <!-- end client logo section -->
        <!-- start contact section -->
        <section class="wow fadeIn animated color-code md-no-background-img" data-color="6" style="background: url('images/back-image5.png') left 51% no-repeat,url('images/back-image6.png') right top no-repeat">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-sm-10 col-xs-12 center-col text-center wow fadeIn">
                        <div class="text-extra-small letter-spacing-3 alt-font text-white text-uppercase margin-70px-bottom sm-margin-50px-bottom xs-margin-30px-bottom display-inline-block">Fill out the form and we'll be in touch soon!</div> 
                    </div>
                </div>
                <form id="contact-form" action="javascript:void(0)" method="post">
                    <div class="row">
                        <div class="col-md-8 center-col input-border-white text-center">
                            <div id="success-contact-form" class="no-margin-lr"></div>
                            <input type="text" name="name" id="name" placeholder="Name*" class="input-border-bottom border-white-light">
                            <input type="text" name="email" id="email" placeholder="E-mail*" class="input-border-bottom border-white-light">
                            <input type="text" name="subject" id="subject" placeholder="Subject" class="input-border-bottom border-white-light">
                            <textarea name="comment" id="comment" placeholder="Your Message" class="input-border-bottom border-white-light"></textarea>
                            <button id="contact-us-button" type="submit" class="btn btn-very-small btn-transparent-white xs-margin-15px-top">send message</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <!-- end contact section -->
        <!-- start footer --> 
        <footer class="footer-center-logo padding-five-tb xs-padding-30px-tb">
            <div class="container">
                <div class="row equalize xs-equalize-auto">
                    <!-- start copyright -->
                    <div class="col-md-4 col-sm-5 col-xs-12 text-small text-center alt-font display-table xs-text-center xs-margin-15px-bottom">
                        <div class="display-table-cell vertical-align-middle text-white">
                            &COPY; 2017 POFO is Powered by <a class="text-white" href="http://www.themezaa.com" target="_blank">ThemeZaa</a>.
                        </div>
                    </div>
                    <!-- end copyright -->
                    <!-- start logo -->
                    <div class="col-md-4 col-sm-2 col-xs-12 text-center display-table xs-margin-10px-bottom">
                        <div class="display-table-cell vertical-align-middle">
                            <a href="index.html"><img class="footer-logo" src="images/logo-white.png" data-at2x="images/logo-white@2x.png" alt=""></a>
                        </div>
                    </div>
                    <!-- end logo -->
                    <!-- start social media -->
                    <div class="col-md-4 col-sm-5 col-xs-12 text-center display-table xs-text-center">
                        <div class="display-table-cell vertical-align-middle text-white">
                            <span class="alt-font text-small margin-20px-right">On social networks</span>
                            <div class="social-icon-style-8 display-inline-block vertical-align-middle">
                                <ul class="small-icon no-margin-bottom">
                                    <li><a class="facebook text-white" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a class="twitter text-white" href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                    <li><a class="google text-white" href="https://plus.google.com" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a class="instagram text-white" href="https://instagram.com/" target="_blank"><i class="fa fa-instagram no-margin-right" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- end social media -->
                </div>
            </div>
        </footer>
        <!-- end footer -->
        <!-- start scroll to top -->
        <a class="scroll-top-arrow" href="javascript:void(0);"><i class="ti-arrow-up"></i></a>
        <!-- end scroll to top  -->
        <!-- javascript libraries -->
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/modernizr.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
        <script type="text/javascript" src="js/skrollr.min.js"></script>
        <script type="text/javascript" src="js/smooth-scroll.js"></script>
        <script type="text/javascript" src="js/jquery.appear.js"></script>
        <!-- menu navigation -->
        <script type="text/javascript" src="js/bootsnav.js"></script>
        <script type="text/javascript" src="js/jquery.nav.js"></script>
        <!-- animation -->
        <script type="text/javascript" src="js/wow.min.js"></script>
        <!-- page scroll -->
        <script type="text/javascript" src="js/page-scroll.js"></script>
        <!-- swiper carousel -->
        <script type="text/javascript" src="js/swiper.min.js"></script>
        <!-- counter -->
        <script type="text/javascript" src="js/jquery.count-to.js"></script>
        <!-- parallax -->
        <script type="text/javascript" src="js/jquery.stellar.js"></script>
        <!-- magnific popup -->
        <script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
        <!-- portfolio with shorting tab -->
        <script type="text/javascript" src="js/isotope.pkgd.min.js"></script>
        <!-- images loaded -->
        <script type="text/javascript" src="js/imagesloaded.pkgd.min.js"></script>
        <!-- pull menu -->
        <script type="text/javascript" src="js/classie.js"></script>
        <script type="text/javascript" src="js/hamburger-menu.js"></script>
        <!-- counter  -->
        <script type="text/javascript" src="js/counter.js"></script>
        <!-- fit video  -->
        <script type="text/javascript" src="js/jquery.fitvids.js"></script>
        <!-- equalize -->
        <script type="text/javascript" src="js/equalize.min.js"></script>
        <!-- skill bars  -->
        <script type="text/javascript" src="js/skill.bars.jquery.js"></script> 
        <!-- justified gallery  -->
        <script type="text/javascript" src="js/justified-gallery.min.js"></script>
        <!--pie chart-->
        <script type="text/javascript" src="js/jquery.easypiechart.min.js"></script>
        <!-- instagram -->
        <script type="text/javascript" src="js/instafeed.min.js"></script>
        <!-- retina -->
        <script type="text/javascript" src="js/retina.min.js"></script>
        <!-- revolution -->
        <script type="text/javascript" src="revolution/js/jquery.themepunch.tools.min.js"></script>
        <script type="text/javascript" src="revolution/js/jquery.themepunch.revolution.min.js"></script>
        <!-- revolution slider extensions (load below extensions JS files only on local file systems to make the slider work! The following part can be removed on server for on demand loading) -->
        <!--<script type="text/javascript" src="revolution/js/extensions/revolution.extension.actions.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.carousel.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.migration.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.navigation.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.parallax.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.video.min.js"></script>-->
        <!-- setting -->
        <script type="text/javascript" src="js/main.js"></script>
    </body>
</html>