<!doctype html>
<html class="no-js" lang="en">
    <head>
        <!-- title -->
        <title>POFO – Creative Agency, Corporate and Portfolio Multi-purpose Template</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
        <meta name="author" content="ThemeZaa">
        <!-- description -->
        <meta name="description" content="POFO is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose agency and portfolio HTML5 template with 25 ready home page demos.">
        <!-- keywords -->
        <meta name="keywords" content="creative, modern, clean, bootstrap responsive, html5, css3, portfolio, blog, agency, templates, multipurpose, one page, corporate, start-up, studio, branding, designer, freelancer, carousel, parallax, photography, personal, masonry, grid, coming soon, faq">
        <!-- favicon -->
        <link rel="shortcut icon" href="images/favicon.png">
        <link rel="apple-touch-icon" href="images/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
        <!-- animation -->
        <link rel="stylesheet" href="css/animate.css" />
        <!-- bootstrap -->
        <link rel="stylesheet" href="css/bootstrap.min.css" />
        <!-- et line icon --> 
        <link rel="stylesheet" href="css/et-line-icons.css" />
        <!-- font-awesome icon -->
        <link rel="stylesheet" href="css/font-awesome.min.css" />
        <!-- themify icon -->
        <link rel="stylesheet" href="css/themify-icons.css">
        <!-- swiper carousel -->
        <link rel="stylesheet" href="css/swiper.min.css">
        <!-- justified gallery  -->
        <link rel="stylesheet" href="css/justified-gallery.min.css">
        <!-- magnific popup -->
        <link rel="stylesheet" href="css/magnific-popup.css" />
        <!-- revolution slider -->
        <link rel="stylesheet" type="text/css" href="revolution/css/settings.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="revolution/css/layers.css">
        <link rel="stylesheet" type="text/css" href="revolution/css/navigation.css">
        <!-- bootsnav -->
        <link rel="stylesheet" href="css/bootsnav.css">
        <!-- style -->
        <link rel="stylesheet" href="css/style.css" />
        <!-- responsive css -->
        <link rel="stylesheet" href="css/responsive.css" />
        <!--[if IE]>
            <script src="js/html5shiv.js"></script>
        <![endif]-->
    </head>
    <body>
        <!-- start header -->
        <header>
            <!-- start navigation -->
            <nav class="navbar navbar-default bootsnav navbar-top header-light bg-transparent nav-box-width white-link">
                <div class="container-fluid nav-header-container">
                    <div class="row">
                        <!-- start logo -->
                        <div class="col-md-2 col-xs-5">
                            <a href="index.html" title="Pofo" class="logo"><img src="images/logo.png" data-at2x="images/logo@2x.png" class="logo-dark" alt="Pofo"><img src="images/logo-white.png" data-at2x="images/logo-white@2x.png" alt="Pofo" class="logo-light default"></a>
                        </div>
                        <!-- end logo -->
                        <div class="col-md-7 col-xs-2 width-auto pull-right accordion-menu xs-no-padding-right">
                            <button type="button" class="navbar-toggle collapsed pull-right" data-toggle="collapse" data-target="#navbar-collapse-toggle-1">
                                <span class="sr-only">toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="navbar-collapse collapse pull-right" id="navbar-collapse-toggle-1">
                                <ul id="accordion" class="nav navbar-nav navbar-left no-margin alt-font text-normal" data-in="fadeIn" data-out="fadeOut">
                                    <!-- start menu item -->
                                    <li class="dropdown megamenu-fw">
                                        <a href="javascript:void(0);">Home</a><i class="fa fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
                                        <!-- start sub menu -->
                                        <div class="menu-back-div dropdown-menu megamenu-content mega-menu collapse mega-menu-full">
                                            <ul class="equalize sm-equalize-auto">
                                                <!-- start sub menu column  -->
                                                <li class="mega-menu-column col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                    <!-- start sub menu item  -->
                                                    <ul>
                                                        <li class="dropdown-header">Classic Homepages</li>
                                                        <li><a href="home-classic-corporate.html">Classic corporate</a></li>
                                                        <li><a href="home-classic-digital-agency.html">Classic digital agency</a></li>
                                                        <li><a href="home-classic-innovation-agency.html">Classic innovation agency</a></li>
                                                        <li><a href="home-classic-web-agency.html">Classic web agency</a></li>
                                                        <li><a href="home-classic-one-page.html">Classic one page</a></li>
                                                        <li><a href="home-classic-start-up.html">Classic start-up</a></li>
                                                        <li><a href="home-classic-interactive-agency.html">Classic interactive agency</a></li>
                                                    </ul>
                                                    <!-- end sub menu item  -->
                                                </li>
                                                <!-- end sub menu column -->
                                                <!-- start sub menu column -->
                                                <li class="mega-menu-column col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                    <!-- start sub menu item  -->
                                                    <ul>
                                                        <li class="dropdown-header">Creative Homepages</li>
                                                        <li><a href="home-creative-studio.html">Creative studio</a></li>
                                                        <li><a href="home-creative-business.html">Creative business</a></li>
                                                        <li><a href="home-creative-simple-portfolio.html">Creative simple portfolio</a></li>
                                                        <li><a href="home-creative-branding-agency.html">Creative branding agency</a></li>
                                                        <li><a href="home-creative-small-business.html">Creative small business</a></li>
                                                        <li><a href="home-creative-designer.html">Creative designer</a></li>
                                                    </ul>
                                                    <!-- end sub menu item  -->
                                                </li>
                                                <!-- end sub menu column  -->
                                                <!-- start sub menu column  -->
                                                <li class="mega-menu-column col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                    <!-- start sub menu item  -->
                                                    <ul>
                                                        <li class="dropdown-header">Portfolio Homepages</li>
                                                        <li><a href="home-portfolio-minimal.html">Portfolio minimal</a></li>
                                                        <li><a href="home-portfolio-multiple-carousel.html">Portfolio multiple carousel</a></li>
                                                        <li><a href="home-portfolio-centered-slides.html">Portfolio centered slides</a></li>
                                                        <li><a href="home-portfolio-personal.html">Portfolio personal</a></li>
                                                        <li><a href="home-portfolio-metro.html">Portfolio metro</a></li>
                                                        <li><a href="home-portfolio-full-screen-vertical.html">Portfolio full screen – vertical</a></li>
                                                        <li><a href="home-portfolio-photographer.html">Portfolio photographer</a></li>
                                                        <li><a href="home-portfolio-parallax.html">Portfolio parallax</a></li>
                                                    </ul>
                                                    <!-- end sub menu item  -->
                                                </li>
                                                <!-- end sub menu column  -->
                                                <!-- start sub menu column  -->
                                                <li class="mega-menu-column col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                    <!-- start sub menu item  -->
                                                    <ul>
                                                        <li class="dropdown-header">Blog Homepages</li>
                                                        <li><a href="home-blog-grid.html">Blog grid</a></li>
                                                        <li><a href="home-blog-masonry.html">Blog masonry</a></li>
                                                        <li><a href="home-blog-clean.html">Blog clean</a></li>
                                                        <li><a href="home-blog-personal.html">Blog personal</a></li>
                                                    </ul>
                                                    <!-- end sub menu item  -->
                                                </li>
                                                <!-- end sub menu column  -->
                                            </ul>
                                            <!-- end sub menu -->
                                        </div>
                                    </li>
                                    <!-- end menu item -->
                                    <li class="dropdown simple-dropdown"><a href="javascript:void(0);">Pages</a><i class="fa fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
                                        <!-- start sub menu -->
                                        <ul class="dropdown-menu" role="menu">
                                            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">About <i class="fa fa-angle-right"></i></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="about-us-simple.html">About us simple</a></li>
                                                    <li><a href="about-us-classic.html">About us classic</a></li>
                                                    <li><a href="about-us-modern.html">About us modern</a></li>
                                                    <li><a href="about-me.html">About me</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">Services <i class="fa fa-angle-right"></i></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="services-simple.html">Services simple</a></li>
                                                    <li><a href="services-classic.html">Services classic</a></li>
                                                    <li><a href="services-modern.html">Services modern</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">Contact <i class="fa fa-angle-right"></i></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="contact-us-simple.html">Contact simple</a></li>
                                                    <li><a href="contact-us-classic.html">Contact classic</a></li>
                                                    <li><a href="contact-us-classic-02.html">Contact classic – style 02</a></li>
                                                    <li><a href="contact-us-modern.html">Contact modern</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">Team <i class="fa fa-angle-right"></i></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="team-simple.html">Team simple</a></li>
                                                    <li><a href="team-classic.html">Team classic</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">Additional Pages <i class="fa fa-angle-right"></i></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="our-clients.html">Our clients</a></li>
                                                    <li><a href="404.html">Error 404</a></li>
                                                    <li><a href="coming-soon.html">Coming soon</a></li>
                                                    <li><a href="coming-soon-02.html">Coming soon – style 02</a></li>
                                                    <li><a href="faq.html">Faq</a></li>
                                                    <li><a href="maintenance.html">Maintenance</a></li>
                                                    <li><a href="search-result.html">Search result</a></li>
                                                    <li><a href="pricing.html">Pricing</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown megamenu-fw">
                                        <a href="javascript:void(0);">Portfolio</a><i class="fa fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
                                        <!-- start sub menu -->
                                        <div class="menu-back-div dropdown-menu megamenu-content mega-menu collapse mega-menu-full">
                                            <ul class="equalize sm-equalize-auto">
                                                <!-- start sub menu column  -->
                                                <li class="mega-menu-column col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                    <!-- start sub menu item  -->
                                                    <ul>
                                                        <li class="dropdown-header">Grid - Full width Layouts</li>
                                                        <li><a href="portfolio-full-width-grid-overlay.html">Portfolio grid overlay</a></li>
                                                        <li><a href="portfolio-full-width-grid-with-icon.html">Portfolio grid with icon</a></li>
                                                        <li><a href="portfolio-full-width-grid-transform.html">Portfolio grid transform</a></li>
                                                        <li><a href="portfolio-full-width-grid-zooming.html">Portfolio grid zooming</a></li>
                                                    </ul>
                                                    <ul>
                                                        <li class="dropdown-header">Masonry - Full width Layouts</li>
                                                        <li><a href="portfolio-full-width-masonry-overlay.html">Portfolio masonry overlay</a></li>
                                                        <li><a href="portfolio-full-width-masonry-with-icon.html">Portfolio masonry with icon</a></li>
                                                    </ul>
                                                    <ul>
                                                        <li class="dropdown-header">Metro - Full width Layouts</li>
                                                        <li><a href="portfolio-full-width-metro-overlay.html">Portfolio metro overlay</a></li>
                                                        <li><a href="portfolio-full-width-metro-with-icon.html">Portfolio metro with icon</a></li>
                                                        <li><a href="portfolio-full-width-metro-transform.html">Portfolio metro transform</a></li>
                                                        <li><a href="portfolio-full-width-metro-zooming.html">Portfolio metro zooming</a></li>
                                                    </ul>
                                                    <ul>
                                                        <li class="dropdown-header">Other - Full width Layouts</li>
                                                        <li><a href="portfolio-full-width-image-gallery.html">Portfolio image gallery</a></li>
                                                        <li><a href="portfolio-full-width-justified-gallery.html">Portfolio justified</a></li>
                                                        <li><a href="portfolio-full-width-carousel.html">Portfolio carousel</a></li>
                                                        <li><a href="portfolio-full-width-parallax.html">Portfolio parallax</a></li>
                                                    </ul>
                                                    <!-- end sub menu item  -->
                                                </li>
                                                <!-- end sub menu column -->
                                                <!-- start sub menu column -->
                                                <li class="mega-menu-column col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                    <!-- start sub menu item  -->
                                                    <ul>
                                                        <li class="dropdown-header">Grid - Boxed Layouts</li>
                                                        <li><a href="portfolio-boxed-grid-overlay.html">Portfolio grid overlay</a></li>
                                                        <li><a href="portfolio-boxed-grid-with-icon.html">Portfolio grid with icon</a></li>
                                                        <li><a href="portfolio-boxed-grid-transform.html">Portfolio grid transform</a></li>
                                                        <li><a href="portfolio-boxed-grid-zooming.html">Portfolio grid zooming</a></li>
                                                    </ul>
                                                    <ul>
                                                        <li class="dropdown-header">Masonry - Boxed Layouts</li>
                                                        <li><a href="portfolio-boxed-masonry-overlay.html">Portfolio masonry overlay</a></li>
                                                        <li><a href="portfolio-boxed-masonry-with-icon.html">Portfolio masonry with icon</a></li>
                                                    </ul>
                                                    <ul>
                                                        <li class="dropdown-header">Metro - Boxed Layouts</li>
                                                        <li><a href="portfolio-boxed-metro-overlay.html">Portfolio metro overlay</a></li>
                                                        <li><a href="portfolio-boxed-metro-with-icon.html">Portfolio metro with icon</a></li>
                                                        <li><a href="portfolio-boxed-metro-transform.html">Portfolio metro transform</a></li>
                                                        <li><a href="portfolio-boxed-metro-zooming.html">Portfolio metro zooming</a></li>
                                                    </ul>
                                                    <ul>
                                                        <li class="dropdown-header">Other - Boxed Layouts</li>
                                                        <li><a href="portfolio-boxed-image-gallery.html">Portfolio image gallery</a></li>
                                                        <li><a href="portfolio-boxed-justified-gallery.html">Portfolio justified</a></li>
                                                        <li><a href="portfolio-boxed-carousel.html">Portfolio carousel</a></li>
                                                        <li><a href="portfolio-boxed-parallax.html">Portfolio parallax</a></li>
                                                    </ul>
                                                    <!-- end sub menu item  -->
                                                </li>
                                                <!-- end sub menu column  -->

                                                <!-- start sub menu column  -->
                                                <li class="mega-menu-column col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                    <!-- start sub menu item  -->
                                                    <ul>
                                                        <li class="dropdown-header">Single Project Page</li>
                                                        <li><a href="single-project-page-01.html">Single project page 01</a></li>
                                                        <li><a href="single-project-page-02.html">Single project page 02</a></li>
                                                        <li><a href="single-project-page-03.html">Single project page 03</a></li>
                                                        <li><a href="single-project-page-04.html">Single project page 04</a></li>
                                                        <li><a href="single-project-page-05.html">Single project page 05</a></li>
                                                        <li><a href="single-project-page-06.html">Single project page 06</a></li>
                                                        <li><a href="single-project-page-07.html">Single project page 07</a></li>
                                                        <li><a href="single-project-page-08.html">Single project page 08</a></li>
                                                    </ul>
                                                    <!-- end sub menu item  -->
                                                    <ul>
                                                        <li class="dropdown-header">Portfolio Columns</li>
                                                        <li><a href="portfolio-two-columns.html">Portfolio 2 columns</a></li>
                                                        <li><a href="portfolio-three-columns.html">Portfolio 3 columns</a></li>
                                                        <li><a href="portfolio-four-columns.html">Portfolio 4 columns</a></li>
                                                        <li><a href="portfolio-five-columns.html">Portfolio 5 columns</a></li>
                                                    </ul>
                                                </li>
                                                <!-- end sub menu column  -->
                                                <!-- start sub menu column  -->
                                                <li class="mega-menu-column col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                    <!-- start sub menu item  -->
                                                    <ul>
                                                        <li>
                                                            <a href="home-creative-studio.html" class="menu-banner-image"><img src="images/menu-banner-01.png" alt="portfolio"/></a>
                                                        </li>
                                                        <li>
                                                            <a href="home-creative-business.html" class="menu-banner-image"><img src="images/menu-banner-02.png" alt="portfolio"/></a>
                                                        </li>
                                                    </ul>
                                                    <!-- end sub menu item  -->
                                                </li>
                                                <!-- end sub menu column  -->
                                            </ul>
                                            <!-- end sub menu -->
                                        </div>
                                    </li>
                                    <li class="dropdown simple-dropdown"><a href="javascript:void(0);" title="Blog">Blog</a><i class="fa fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
                                        <!-- start sub menu -->
                                        <ul class="dropdown-menu" role="menu">
                                            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">Blog Standard <i class="fa fa-angle-right"></i></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="blog-standard-full-width.html">Blog standard – full width</a></li>
                                                    <li><a href="blog-standard-with-left-sidebar.html">Blog standard with left sidebar</a></li>
                                                    <li><a href="blog-standard-with-right-sidebar.html">Blog standard with right sidebar</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">Blog Classic <i class="fa fa-angle-right"></i></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="blog-classic.html">Blog classic</a></li>
                                                    <li><a href="blog-classic-full-width.html">Blog classic – full width</a></li>

                                                </ul></li>
                                            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">Blog List <i class="fa fa-angle-right"></i></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="blog-list.html">Blog list</a></li>
                                                    <li><a href="blog-list-full-width.html">Blog list – full width</a></li>
                                                </ul></li>
                                            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">Blog Grid <i class="fa fa-angle-right"></i></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="blog-grid.html">Blog grid</a></li>
                                                    <li><a href="blog-grid-full-width.html">Blog grid – full width</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">Blog Masonry <i class="fa fa-angle-right"></i></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="blog-masonry.html">Blog masonry</a></li>
                                                    <li><a href="blog-masonry-full-width.html">Blog masonry – full width</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">Blog Simple <i class="fa fa-angle-right"></i></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="blog-simple.html">Blog simple</a></li>
                                                    <li><a href="blog-simple-full-width.html">Blog simple – full width</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">Blog Clean <i class="fa fa-angle-right"></i></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="blog-clean.html">Blog clean</a></li>
                                                    <li><a href="blog-clean-full-width.html">Blog clean – full width</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">Blog Images <i class="fa fa-angle-right"></i></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="blog-images.html">Blog images</a></li>
                                                    <li><a href="blog-images-full-width.html">Blog images – full width</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">Blog Only Text <i class="fa fa-angle-right"></i></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="blog-only-text.html">Blog only text</a></li>
                                                    <li><a href="blog-only-text-full-width.html">Blog only text – full width</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">Post Layout <i class="fa fa-angle-right"></i></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="blog-post-layout-01.html">Blog post layout 01</a></li>
                                                    <li><a href="blog-post-layout-02.html">Blog post layout 02</a></li>
                                                    <li><a href="blog-post-layout-03.html">Blog post layout 03</a></li>
                                                    <li><a href="blog-post-layout-04.html">Blog post layout 04</a></li>
                                                    <li><a href="blog-post-layout-05.html">Blog post layout 05</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">Post Types <i class="fa fa-angle-right"></i></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="blog-standard-post.html">Standard post</a></li>
                                                    <li><a href="blog-gallery-post.html">Gallery post</a></li>
                                                    <li><a href="blog-slider-post.html">Slider post</a></li>
                                                    <li><a href="blog-html5-video-post.html">HTML5 video post</a></li>
                                                    <li><a href="blog-youtube-video-post.html">Youtube video post</a></li>
                                                    <li><a href="blog-vimeo-video-post.html">Vimeo video post</a></li>
                                                    <li><a href="blog-audio-post.html">Audio post</a></li>
                                                    <li><a href="blog-blockquote-post.html">Blockquote post</a></li>
                                                    <li><a href="blog-full-width-post.html">Full width post</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <!-- end sub menu -->
                                    </li>
                                    <li class="dropdown megamenu-fw">
                                        <a href="javascript:void(0);">Elements</a><i class="fa fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
                                        <!-- start sub menu -->
                                        <div class="menu-back-div dropdown-menu megamenu-content mega-menu collapse mega-menu-full icon-list-menu">
                                            <ul class="equalize sm-equalize-auto">
                                                <!-- start sub menu column  -->
                                                <li class="mega-menu-column col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                    <!-- start sub menu item  -->
                                                    <ul>
                                                        <li class="dropdown-header">General elements</li>
                                                        <li><a href="accordions.html"><i class="ti-layout-accordion-separated"></i> Accordions</a></li>
                                                        <li><a href="buttons.html"><i class="ti-mouse"></i> Buttons</a></li>
                                                        <li><a href="team.html"><i class="ti-user"></i> Team</a></li>
                                                        <li><a href="team-carousel.html"><i class="ti-layout-slider-alt"></i> Team carousel</a></li>
                                                        <li><a href="clients.html"><i class="ti-id-badge"></i> Clients</a></li>
                                                        <li><a href="client-carousel.html"><i class="ti-layout-slider"></i> Client carousel</a></li>
                                                        <li><a href="subscribe.html"><i class="ti-bookmark"></i> Subscribe</a></li>
                                                        <li><a href="call-to-action.html"><i class="ti-headphone-alt"></i> Call to action</a></li>
                                                        <li><a href="tab.html"><i class="ti-layout-tab"></i> Tab</a></li>
                                                        <li><a href="google-map.html"><i class="ti-location-pin"></i> Google map</a></li>
                                                        <li><a href="text-slider.html"><i class="ti-layout-media-overlay"></i> Text slider</a></li>
                                                        <li><a href="contact-form.html"><i class="ti-clipboard"></i> Contact form</a></li>
                                                        <li><a href="image-gallery.html"><i class="ti-gallery"></i> Image gallery</a></li>
                                                    </ul>
                                                    <!-- end sub menu item  -->
                                                </li>
                                                <!-- end sub menu column -->
                                                <!-- start sub menu column -->
                                                <li class="mega-menu-column col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                    <!-- start sub menu item  -->
                                                    <ul>
                                                        <li class="dropdown-header">Infographics / icons</li>
                                                        <li><a href="process-bar.html"><i class="icon-hourglass"></i> Process bar</a></li>
                                                        <li><a href="icon-with-text.html"><i class="ti-layout-media-left"></i> Icon with text</a></li>
                                                        <li><a href="overline-icon-box.html"><i class="ti-layout-placeholder"></i> Overline icon box</a></li>
                                                        <li><a href="custom-icon-with-text.html"><i class="ti-layout-cta-btn-left"></i> Custom icon with text</a></li>
                                                        <li><a href="counters.html"><i class="ti-timer"></i> Counters</a></li>
                                                        <li><a href="countdown.html"><i class="ti-alarm-clock"></i> Countdown</a></li>
                                                        <li><a href="pie-charts.html"><i class="ti-pie-chart"></i> Pie charts</a></li>
                                                        <li><a href="text-box.html"><i class="ti-layout-cta-left"></i> Text box</a></li>
                                                        <li><a href="fancy-text-box.html"><i class="ti-layout-cta-center"></i> Fancy text box</a></li>
                                                    </ul>
                                                    <!-- end sub menu item  -->
                                                </li>
                                                <!-- end sub menu column  -->

                                                <!-- start sub menu column  -->
                                                <li class="mega-menu-column col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                    <!-- start sub menu item  -->
                                                    <ul>
                                                        <li class="dropdown-header">Interactive Elements</li>
                                                        <li><a href="testimonials.html"><i class="ti-thought"></i> Testimonials</a></li>
                                                        <li><a href="testimonials-carousel.html"><i class="ti-comments"></i> Testimonials carousel</a></li>
                                                        <li><a href="video.html"><i class="ti-video-camera"></i> Video</a></li>
                                                        <li><a href="interactive-banners.html"><i class="ti-image"></i> Interactive banners</a></li>
                                                        <li><a href="services.html"><i class="ti-headphone-alt"></i> Services</a></li>
                                                        <li><a href="portfolio-slider.html"><i class="ti-layout-slider-alt"></i> Portfolio slider</a></li>
                                                        <li><a href="info-banner.html"><i class="ti-layout-slider"></i> Info banner</a></li>
                                                        <li><a href="rotate-box.html"><i class="ti-layout-width-full"></i> Rotate box</a></li>
                                                        <li><a href="process-step.html"><i class="ti-stats-up"></i> Process step</a></li>
                                                        <li><a href="blog-posts.html"><i class="ti-comment-alt"></i> Blog posts</a></li>
                                                        <li><a href="instagram.html"><i class="ti-instagram"></i> Instagram</a></li>
                                                        <li><a href="parallax-scrolling.html"><i class="ti-exchange-vertical"></i> Parallax scrolling</a></li>
                                                    </ul>
                                                    <!-- end sub menu item  -->
                                                </li>
                                                <!-- end sub menu column  -->
                                                <!-- start sub menu column  -->
                                                <li class="mega-menu-column col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                    <!-- start sub menu item  -->
                                                    <ul>
                                                        <li class="dropdown-header">Text & containers</li>
                                                        <li><a href="heading.html"><i class="ti-text"></i> Heading</a></li>
                                                        <li><a href="dropcaps.html"><i class="ti-layout-accordion-list"></i> Dropcaps</a></li>
                                                        <li><a href="columns.html"><i class="ti-layout-column3-alt"></i> Columns</a></li>
                                                        <li><a href="blockquote.html"><i class="ti-quote-left"></i> Blockquote</a></li>
                                                        <li><a href="highlights.html"><i class="ti-underline"></i> Highlights</a></li>
                                                        <li><a href="message-box.html"><i class="ti-layout-media-right-alt"></i> Message box</a></li>
                                                        <li><a href="social-icons.html"><i class="ti-signal"></i> Social icons</a></li>
                                                        <li><a href="lists.html"><i class="ti-list"></i> Lists</a></li>
                                                        <li><a href="seperators.html"><i class="ti-layout-line-solid"></i> Separators</a></li>
                                                        <li><a href="pricing-table.html"><i class="ti-layout-grid2-thumb"></i> Pricing table</a></li>
                                                    </ul>
                                                    <!-- end sub menu item  -->
                                                </li>
                                                <!-- end sub menu column  -->
                                            </ul>
                                            <!-- end sub menu -->
                                        </div>
                                    </li>
                                    <li class="dropdown megamenu-fw">
                                        <a href="javascript:void(0);">Features</a><i class="fa fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
                                        <!-- start sub menu -->
                                        <div class="menu-back-div dropdown-menu megamenu-content mega-menu collapse mega-menu-full">
                                            <ul class="equalize sm-equalize-auto">
                                                <!-- start sub menu column  -->
                                                <li class="mega-menu-column col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                    <!-- start sub menu item  -->
                                                    <ul>
                                                        <li class="dropdown-header">Header Styles</li>
                                                        <li><a href="transparent-header.html">Transparent header</a></li>
                                                        <li><a href="white-header.html">White header</a></li>
                                                        <li><a href="dark-header.html">Dark header</a></li>
                                                        <li><a href="header-with-top-bar.html">Header with top bar</a></li>
                                                        <li><a href="header-with-push.html">Header with push</a></li>
                                                        <li><a href="center-navigation.html">Center navigation</a></li>
                                                        <li><a href="center-logo.html">Center logo</a></li>
                                                        <li><a href="top-logo.html">Top logo</a></li>
                                                        <li><a href="one-page-navigation.html">One page navigation</a></li>
                                                        <li><a href="hamburger-menu.html">Hamburger menu</a></li>
                                                        <li><a href="hamburger-menu-modern.html">Hamburger menu modern</a></li>
                                                        <li><a href="hamburger-menu-half.html">Hamburger menu half</a></li>
                                                        <li><a href="left-menu-classic.html">Left menu classic</a></li>
                                                        <li><a href="left-menu-modern.html">Left menu modern</a></li>
                                                    </ul>
                                                    <!-- end sub menu item  -->
                                                </li>
                                                <!-- end sub menu column -->
                                                <!-- start sub menu column -->
                                                <li class="mega-menu-column col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                    <!-- start sub menu item  -->
                                                    <ul>
                                                        <li class="dropdown-header">Footer</li>
                                                        <li><a href="footer-standard.html">Footer standard</a></li>
                                                        <li><a href="footer-standard-dark.html">Footer standard dark</a></li>
                                                        <li><a href="footer-classic.html">Footer classic</a></li>
                                                        <li><a href="footer-classic-dark.html">Footer classic dark</a></li>
                                                        <li><a href="footer-clean.html">Footer clean</a></li>
                                                        <li><a href="footer-clean-dark.html">Footer clean dark</a></li>
                                                        <li><a href="footer-modern.html">Footer modern</a></li>
                                                        <li><a href="footer-modern-dark.html">Footer modern dark</a></li>
                                                        <li><a href="footer-center-logo.html">Footer center logo </a></li>
                                                        <li><a href="footer-center-logo-dark.html">Footer center logo dark</a></li>
                                                        <li><a href="footer-strip.html">Footer strip</a></li>
                                                        <li><a href="footer-strip-dark.html">Footer strip dark</a></li>
                                                        <li><a href="footer-center-logo-02.html">Footer center logo 02</a></li>
                                                        <li><a href="footer-center-logo-02-dark.html">Footer center logo 02 dark</a></li>
                                                    </ul>
                                                    <!-- end sub menu item  -->
                                                </li>
                                                <!-- end sub menu column  -->

                                                <!-- start sub menu column  -->
                                                <li class="mega-menu-column col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                    <!-- start sub menu item  -->
                                                    <ul>
                                                        <li class="dropdown-header">Page Title</li>
                                                        <li><a href="page-title-left-alignment.html">Left alignment</a></li>
                                                        <li><a href="page-title-right-alignment.html">Right alignment</a></li>
                                                        <li><a href="page-title-center-alignment.html">Center alignment</a></li>
                                                        <li><a href="page-title-dark-style.html">Dark style</a></li>
                                                        <li><a href="page-title-big-typography.html">Big typography</a></li>
                                                        <li><a href="page-title-parallax-image-background.html">Parallax image background</a></li>
                                                        <li><a href="page-title-background-breadcrumbs.html">Image after breadcrumbs</a></li>
                                                        <li><a href="page-title-gallery-background.html">Gallery background</a></li>
                                                        <li><a href="page-title-background-video.html">Background video</a></li>
                                                        <li><a href="page-title-mini-version.html">Mini version</a></li>
                                                    </ul>
                                                    <!-- end sub menu item  -->
                                                </li>
                                                <!-- end sub menu column  -->
                                                <!-- start sub menu column  -->
                                                <li class="mega-menu-column col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                    <!-- start sub menu item  -->
                                                    <ul>
                                                        <li class="dropdown-header">Gallery</li>
                                                        <li><a href="single-image-lightbox.html">Single image lightbox</a></li>
                                                        <li><a href="lightbox-gallery.html">Lightbox gallery</a></li>
                                                        <li><a href="zoom-gallery.html">Zoom gallery</a></li>
                                                        <li><a href="popup-with-form.html">Popup with form</a></li>
                                                        <li><a href="modal-popup.html">Modal popup</a></li>
                                                        <li><a href="open-youtube-video.html">Open youtube video</a></li>
                                                        <li><a href="open-vimeo-video.html">Open vimeo video</a></li>
                                                        <li><a href="open-google-map.html">Open google map</a></li>
                                                    </ul>
                                                    <!-- end sub menu item  -->
                                                </li>
                                                <!-- end sub menu column  -->
                                            </ul>
                                            <!-- end sub menu -->
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-5 width-auto">
                            <div class="header-searchbar">
                                <a href="#search-header" class="header-search-form text-white"><i class="fa fa-search search-button"></i></a>
                                <!-- search input-->
                                <form id="search-header" method="post" action="search-result.html" name="search-header" class="mfp-hide search-form-result">
                                    <div class="search-form position-relative">
                                        <button type="submit" class="fa fa-search close-search search-button"></button>
                                        <input type="text" name="search" class="search-input" placeholder="Enter your keywords..." autocomplete="off">
                                    </div>
                                </form>
                            </div>
                            <div class="header-social-icon xs-display-none">
                                <a href="https://www.facebook.com/" title="Facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="https://twitter.com/" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                                <a href="https://dribbble.com/" title="Dribbble" target="_blank"><i class="fa fa-dribbble"></i></a>                          
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- end navigation --> 
        </header>
        <!-- end header -->
        <!-- start page title section -->
        <section class="no-padding one-third-screen position-relative wow fadeIn">
            <div class="opacity-medium bg-extra-dark-gray z-index-0"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 display-table one-third-screen page-title-large">
                        <div class="display-table-cell vertical-align-middle text-center">
                            <!-- start sub title -->
                            <span class="display-block text-white opacity6 margin-10px-bottom alt-font">We provide innovative solutions to expand business</span>
                            <!-- end sub title -->
                            <!-- start page title -->
                            <h1 class="alt-font text-white font-weight-600 width-55 sm-width-80 xs-width-100 center-col no-margin-bottom">We have been helping build brands</h1>
                            <!-- end page title -->
                        </div>
                    </div>
                    <div class="down-section text-center"><a href="#section-down" class="inner-link"><i class="ti-arrow-down icon-extra-small text-white bg-deep-pink padding-15px-all xs-padding-10px-all border-radius-100"></i></a></div>
                </div>
            </div>
            <div class="swiper-auto-fade swiper-container z-index-minus2 position-absolute top-0 width-100 height-100">
                <div class="swiper-wrapper">
                    <!-- start slider item -->
                    <div class="swiper-slide cover-background one-third-screen" style="background-image:url('http://placehold.it/1920x1080');"></div>
                    <!-- end slider item -->
                    <!-- start slider item -->
                    <div class="swiper-slide cover-background one-third-screen" style="background-image:url('http://placehold.it/1920x1080');"></div>
                    <!-- end slider item -->
                    <!-- start slider item -->
                    <div class="swiper-slide cover-background one-third-screen" style="background-image:url('http://placehold.it/1920x1080');"></div>
                    <!-- end slider item -->
                </div>
            </div>
        </section>
        <!-- end page title section -->
        <!-- start hero section -->
        <section class="no-padding-bottom wow fadeIn" id="section-down">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-9 center-col margin-six-bottom text-center last-paragraph-no-margin">
                        <div class="alt-font text-deep-pink margin-10px-bottom text-uppercase text-small">We combine design, thinking and craft</div>
                        <h5 class="alt-font text-extra-dark-gray font-weight-600">Beautiful and easy to use UI, professional animations and drag & drop feature</h5>
                        <p class="width-80 center-col display-inline-block xs-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
            </div>
            <div class="container-fluid wow fadeIn">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <img src="http://placehold.it/1000x501" alt=""/>
                    </div>
                </div>
            </div>
        </section>
        <!-- end banner section -->
        <!-- start feature box section -->
        <section class="parallax wow fadeIn" data-stellar-background-ratio="0.4" style="background-image:url('http://placehold.it/1920x1080');">
            <div class="container">
                <div class="row">
                    <!-- start feature box item -->
                    <div class="col-md-4 last-paragraph-no-margin sm-margin-30px-bottom wow fadeInRight">
                        <div class="padding-50px-all md-padding-40px-all xs-padding-30px-all bg-white box-shadow text-center">
                            <div class="padding-35px-all display-inline-block border-radius-100 margin-40px-bottom xs-margin-30px-bottom bg-light-gray"><img src="images/image-icon4.png" alt=""/></div>
                            <div class="text-small alt-font text-medium-gray text-uppercase">Creative People</div>
                            <span class="alt-font text-extra-dark-gray font-weight-600 display-block margin-20px-bottom">Creative Thinking & Design</span>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the industry's standard dummy text.</p>
                        </div>                    
                    </div>
                    <!-- end feature box block -->
                    <!-- start feature box item -->
                    <div class="col-md-4 last-paragraph-no-margin sm-margin-30px-bottom wow fadeInRight" data-wow-delay="0.2s">
                        <div class="padding-50px-all md-padding-40px-all xs-padding-30px-all bg-white box-shadow text-center">
                            <div class="padding-35px-all display-inline-block border-radius-100 margin-40px-bottom xs-margin-30px-bottom bg-light-gray"><img src="images/image-icon2.png" alt=""/></div>
                            <div class="text-small alt-font text-medium-gray text-uppercase">Digital Marketing</div>
                            <span class="alt-font text-extra-dark-gray font-weight-600 display-block margin-20px-bottom">Digital Branding & Marketing</span>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                        </div>                    
                    </div>
                    <!-- end feature box block -->
                    <!-- start feature box item -->
                    <div class="col-md-4 last-paragraph-no-margin wow fadeInRight" data-wow-delay="0.4s">
                        <div class="padding-50px-all md-padding-40px-all xs-padding-30px-all bg-white box-shadow text-center">
                            <div class="padding-35px-all display-inline-block border-radius-100 margin-40px-bottom xs-margin-30px-bottom bg-light-gray"><img src="images/image-icon3.png" alt=""/></div>
                            <div class="text-small alt-font text-medium-gray text-uppercase">Amazing Analytics</div>
                            <span class="alt-font text-extra-dark-gray font-weight-600 display-block margin-20px-bottom">Search Analytics & Marketing</span>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                        </div>                    
                    </div>
                    <!-- end feature box block -->
                </div>
            </div>
        </section>
        <!-- end feature box section -->
        <!-- start feature box section -->
        <section class="wow fadeIn md-padding-two-lr">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-9 center-col margin-eight-bottom text-center last-paragraph-no-margin">
                        <div class="alt-font text-deep-pink margin-10px-bottom text-uppercase text-small">Find more creative ideas for your projects</div>
                        <h5 class="alt-font text-extra-dark-gray font-weight-600">Build perfect websites, Beautifully handcrafted templates for your website</h5>                        
                    </div>
                </div>
                <div class="row equalize">
                    <!-- start feature box item -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 margin-six-bottom md-margin-six-bottom xs-margin-30px-bottom wow fadeInUp last-paragraph-no-margin">
                        <div class="feature-box-5 position-relative">
                            <i class="icon-desktop text-medium-gray icon-medium"></i>
                            <div class="feature-content">
                                <div class="text-extra-dark-gray margin-10px-bottom alt-font font-weight-600">Web Development</div>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum standard dummy text.</p>
                            </div>
                        </div>
                    </div>
                    <!-- end feature box item -->
                    <!-- start feature box item -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 margin-six-bottom md-margin-six-bottom xs-margin-30px-bottom wow fadeInUp last-paragraph-no-margin" data-wow-delay="0.2s">
                        <div class="feature-box-5 position-relative">
                            <i class="icon-pricetags text-medium-gray icon-medium"></i>
                            <div class="feature-content">
                                <div class="text-extra-dark-gray margin-10px-bottom alt-font font-weight-600">Logo and Identity</div>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum standard dummy text.</p>
                            </div>
                        </div>
                    </div>
                    <!-- end feature box item-->
                    <!-- start feature box item-->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 margin-six-bottom md-margin-six-bottom xs-margin-30px-bottom wow fadeInUp last-paragraph-no-margin" data-wow-delay="0.4s">
                        <div class="feature-box-5 position-relative">
                            <i class="icon-pictures text-medium-gray icon-medium"></i>
                            <div class="feature-content">
                                <div class="text-extra-dark-gray margin-10px-bottom alt-font font-weight-600">Graphics Design</div>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum standard dummy text.</p>
                            </div>
                        </div>
                    </div>
                    <!-- end feature box item-->
                    <!-- start feature box item-->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sm-margin-six-bottom md-margin-six-bottom xs-margin-30px-bottom wow fadeInUp last-paragraph-no-margin">
                        <div class="feature-box-5 position-relative ">
                            <i class="icon-mobile text-medium-gray icon-medium"></i>
                            <div class="feature-content">
                                <div class="text-extra-dark-gray margin-10px-bottom alt-font font-weight-600">App Development</div>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum standard dummy text.</p>
                            </div>
                        </div>
                    </div>
                    <!-- end feature box item-->
                    <!-- start feature box item-->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 xs-margin-30px-bottom wow fadeInUp last-paragraph-no-margin" data-wow-delay="0.2s">
                        <div class="feature-box-5 position-relative">
                            <i class="icon-target text-medium-gray icon-medium"></i>
                            <div class="feature-content">
                                <div class="text-extra-dark-gray margin-10px-bottom alt-font font-weight-600">Social Marketing</div>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum standard dummy text.</p>
                            </div>
                        </div>
                    </div>
                    <!-- end feature box item-->
                    <!-- start feature box item-->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 wow fadeInUp last-paragraph-no-margin" data-wow-delay="0.4s">
                        <div class="feature-box-5 position-relative">
                            <i class="icon-tools text-medium-gray icon-medium"></i>
                            <div class="feature-content">
                                <div class="text-extra-dark-gray margin-10px-bottom alt-font font-weight-600">Content Creation</div>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum standard dummy text.</p>
                            </div>
                        </div>
                    </div>
                    <!-- end feature box item-->
                </div>
            </div>
        </section>
        <!-- end feature box section -->
        <!-- start parallax section -->
        <section class="parallax big-section wow fadeIn" data-stellar-background-ratio="0.5" style="background-image:url('http://placehold.it/1920x1080');">
            <div class="opacity-extra-medium bg-black"></div>
            <div class="container position-relative">
                <div class="row">
                    <div class="col-lg-6 col-md-6 text-center center-col">
                        <a href="https://www.youtube.com/watch?v=nrJtHemSPW4" class="popup-youtube"><img src="images/icon-play.png" class="width-30" alt=""/></a>
                        <h5 class="alt-font text-white">Unique. Powerful. Creative.</h5>
                    </div>
                </div>
            </div>
        </section>
        <!-- end parallax section -->
        <!-- start feature box section -->
        <section class="wow fadeIn last-paragraph-no-margin">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-9 center-col margin-eight-bottom text-center last-paragraph-no-margin">
                        <div class="alt-font text-deep-pink margin-10px-bottom text-uppercase text-small">Technology Expert Analysis</div>
                        <h5 class="alt-font text-extra-dark-gray font-weight-600">We provide high quality and cost effective offshore web development services</h5>                        
                    </div>
                </div>
                <div class="row">
                    <!-- start feature box item -->
                    <div class="col-md-4 col-sm-4 col-xs-12 xs-margin-30px-bottom wow fadeInUp">
                        <div class="feature-box-16 xs-width-100">
                            <img src="http://placehold.it/750x950" alt="">
                            <div class="feature-box-content text-center">
                                <div class="opacity-full-dark bg-extra-dark-gray"></div>
                                <div class="display-table height-100 width-100 position-relative">
                                    <div class="vertical-align-middle display-table-cell padding-15px-lr padding-20px-tb">
                                        <div class="text-white alt-font text-medium margin-15px-bottom">We believe in creativity</div> 
                                        <p class="width-85 center-col text-extra-light-gray">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                                    </div>
                                </div>
                            </div>
                        </div>  
                    </div>
                    <!-- end feature box item -->
                    <!-- start feature box item -->
                    <div class="col-md-4 col-sm-4 col-xs-12 xs-margin-30px-bottom wow fadeInUp" data-wow-delay="0.25s">
                        <div class="feature-box-16 xs-width-100">
                            <img src="http://placehold.it/750x950" alt="">
                            <div class="feature-box-content text-center text-white">
                                <div class="opacity-full-dark bg-extra-dark-gray"></div>
                                <div class="display-table height-100 width-100 position-relative">
                                    <div class="vertical-align-middle display-table-cell padding-15px-lr padding-20px-tb">
                                        <div class="text-white alt-font text-medium margin-15px-bottom">We believe in quality</div> 
                                        <p class="width-85 center-col text-extra-light-gray">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end feature box item -->
                    <!-- start feature box item -->
                    <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="feature-box-16 xs-width-100">
                            <img src="http://placehold.it/750x950" alt="">
                            <div class="feature-box-content text-center text-white">
                                <div class="opacity-full-dark bg-extra-dark-gray"></div>
                                <div class="display-table height-100 width-100 position-relative">
                                    <div class="vertical-align-middle display-table-cell padding-15px-lr padding-20px-tb">
                                        <div class="text-white alt-font text-medium margin-15px-bottom">We believe in relation</div> 
                                        <p class="width-85 center-col text-extra-light-gray">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end feature box item -->
                </div> 
            </div>
        </section>
        <!-- end feature box section -->
        <!-- start feature box section  -->
        <section class="bg-extra-dark-gray">
            <div class="container-fluid">
                <div class="row">
                    <!-- start feature box item -->
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 last-paragraph-no-margin md-margin-30px-bottom wow fadeInLeft" data-wow-delay="0.6s">
                        <div class="padding-40px-lr text-center border-right border-width-1 border-color-medium-dark-gray md-no-border-right xs-padding-15px-lr">
                            <h3 class="font-weight-300 letter-spacing-minus-2 text-deep-pink alt-font margin-10px-bottom">01</h3>
                            <span class="alt-font display-block text-uppercase text-small">Save your Time</span>
                            <span class="text-white text-uppercase alt-font text-extra-large font-weight-700 margin-20px-bottom display-block">Best Services</span>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                        </div>
                    </div>
                    <!-- end feature box item -->
                    <!-- start feature box item -->
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 last-paragraph-no-margin md-margin-30px-bottom wow fadeInLeft" data-wow-delay="0.4s">
                        <div class="padding-40px-lr text-center border-right border-width-1 border-color-medium-dark-gray md-no-border-right xs-padding-15px-lr">
                            <h3 class="font-weight-300 letter-spacing-minus-2 text-deep-pink alt-font margin-10px-bottom">02</h3>
                            <span class="alt-font display-block text-uppercase text-small">All you Need</span>
                            <span class="text-white text-uppercase alt-font text-extra-large font-weight-700 margin-20px-bottom display-block">Professional</span>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                        </div>
                    </div>
                    <!-- end feature box item -->
                    <!-- start feature box item -->
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 last-paragraph-no-margin sm-margin-30px-bottom wow fadeInLeft" data-wow-delay="0.2s">
                        <div class="padding-40px-lr text-center border-right border-width-1 border-color-medium-dark-gray md-no-border-right xs-padding-15px-lr">
                            <h3 class="font-weight-300 letter-spacing-minus-2 text-deep-pink alt-font margin-10px-bottom">03</h3>
                            <span class="alt-font display-block text-uppercase text-small">Dedicated Supports</span>
                            <span class="text-white text-uppercase alt-font text-extra-large font-weight-700 margin-20px-bottom display-block">Support</span>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                        </div>
                    </div>
                    <!-- end feature box item -->
                    <!-- start feature box item -->
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 last-paragraph-no-margin wow fadeInLeft">
                        <div class="padding-40px-lr text-center xs-padding-15px-lr">
                            <h3 class="font-weight-300 letter-spacing-minus-2 text-deep-pink alt-font margin-10px-bottom">04</h3>
                            <span class="alt-font display-block text-uppercase text-small">Creative Thinking</span>
                            <span class="text-white text-uppercase alt-font text-extra-large font-weight-700 margin-20px-bottom display-block">Digital Marketing</span>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                        </div>
                    </div>
                    <!-- end feature box item -->
                </div>
            </div>
        </section>
        <!-- end feature box section  -->
        <!-- start feature box section -->
        <section class="wow fadeIn">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <img src="images/image-right.png" alt=""/>
                    </div>
                </div>
            </div>
            <div class="container margin-one-top md-margin-three-top sm-no-margin-top">  
                <div class="row">
                    <div class="col-md-4 col-sm-12 col-xs-12 sm-text-center sm-margin-40px-bottom xs-margin-30px-bottom">
                        <h5 class="text-extra-dark-gray font-weight-600 alt-font no-margin">The world's most powerful wordpress website builder</h5>
                    </div>
                    <!-- start feature box item -->
                    <div class="col-md-4 col-sm-6 col-xs-12 sm-text-center xs-margin-30px-bottom wow fadeIn last-paragraph-no-margin" data-wow-delay="0.2s">
                        <div class="col-md-3 text-center xs-no-padding-lr">
                            <h2 class="text-light-gray alt-font letter-spacing-minus-3 no-margin-bottom sm-margin-10px-bottom">01</h2>
                        </div>
                        <div class="col-md-9 margin-5px-top sm-text-center xs-no-padding-lr">
                            <span class="alt-font text-medium text-extra-dark-gray margin-5px-bottom display-block">Modern Framework</span>
                            <p class="width-80 md-width-100">Lorem Ipsum is simply text the printing and typesetting standard industry.</p>
                        </div>
                    </div>
                    <!-- end feature box item -->
                    <!-- start feature box item -->
                    <div class="col-md-4 col-sm-6 col-xs-12 sm-text-center wow fadeIn last-paragraph-no-margin" data-wow-delay="0.4s">
                        <div class="col-md-3 text-center xs-no-padding-lr">
                            <h2 class="text-light-gray alt-font letter-spacing-minus-3 no-margin-bottom sm-margin-10px-bottom">02</h2>
                        </div>
                        <div class="col-md-9 margin-5px-top sm-text-center xs-no-padding-lr">
                            <span class="alt-font text-medium text-extra-dark-gray margin-5px-bottom display-block">Live Website Builder</span>
                            <p class="width-80 md-width-100">Lorem Ipsum is simply text the printing and typesetting standard industry.</p>
                        </div>
                    </div>
                    <!-- end feature box item -->
                </div>
            </div>
        </section>
        <!-- start feature box section -->
        <!-- start subscribe section -->
        <section class="bg-light-gray wow fadeIn">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 center-col col-sm-12 text-center">
                        <h4 class="alt-font font-weight-600 text-extra-dark-gray">Subscribe to our newsletter</h4>
                        <p class="width-65 center-col sm-width-100"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the standard dummy text.</p>
                        <form id="subscribenewsletterform" action="javascript:void(0)" method="post" class="position-relative">
                            <div id="success-subscribe-newsletter" class="no-margin-lr"></div>
                            <div class="input-group margin-40px-tb">
                                
                                <input name="email" id="email" data-email="required" type="text" placeholder="* Email Address" class="extra-big-input border-none" />
                                <div class="input-group-btn">
                                    <button id="button-subscribe-newsletter" type="submit" class="btn btn-large bg-white text-deep-pink"><i class="fa ti-email icon-small  no-margin "></i></button>
                                 
                                </div>
                            </div>
                        </form>
                        <span class="text-extra-small">* We don't share your personal info with anyone. Check out our <a href="#" class=" text-decoration-underline">Privacy Policy</a> for more information.</span>
                    </div>
                </div>
            </div>
        </section>
        <!-- end subscribe section -->
        <!-- start footer --> 
        <footer class="footer-classic-dark bg-extra-dark-gray padding-five-bottom xs-padding-30px-bottom">
            <div class="bg-dark-footer padding-50px-tb xs-padding-30px-tb">
                <div class="container">
                    <div class="row equalize xs-equalize-auto">
                        <!-- start slogan -->
                        <div class="col-md-4 col-sm-5 col-xs-12 text-center alt-font display-table xs-text-center xs-margin-15px-bottom">
                            <div class="display-table-cell vertical-align-middle">
                                London based highly creative studio
                            </div>
                        </div>
                        <!-- end slogan -->
                        <!-- start logo -->
                        <div class="col-md-4 col-sm-2 col-xs-12 text-center display-table xs-margin-10px-bottom">
                            <div class="display-table-cell vertical-align-middle">
                                <a href="index.html"><img class="footer-logo" src="images/logo-white.png" data-at2x="images/logo-white@2x.png" alt="Pofo"></a>
                            </div>
                        </div>
                        <!-- end logo -->
                        <!-- start social media -->
                        <div class="col-md-4 col-sm-5 col-xs-12 col-xs-12 text-center display-table xs-text-center">
                            <div class="display-table-cell vertical-align-middle">
                                <span class="alt-font margin-20px-right">On social networks</span>
                                <div class="social-icon-style-8 display-inline-block vertical-align-middle">
                                    <ul class="small-icon no-margin-bottom">
                                        <li><a class="facebook text-white" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a class="twitter text-white" href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                        <li><a class="google text-white" href="https://plus.google.com" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a class="instagram text-white" href="https://instagram.com/" target="_blank"><i class="fa fa-instagram no-margin-right" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- end social media -->
                    </div>
                </div>
            </div>
            <div class="footer-widget-area padding-five-top padding-30px-bottom xs-padding-30px-top">
                <div class="container">
                    <div class="row">
                        <!-- start about -->
                        <div class="col-md-3 col-sm-6 col-xs-12 widget sm-margin-30px-bottom xs-text-center">
                            <div class="widget-title alt-font text-small text-medium-gray text-uppercase margin-15px-bottom font-weight-600">About Agency</div>
                            <p class="text-small width-95 xs-width-100 no-margin">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ipsum is simply dummy text of the and typesetting industry. </p>
                        </div>
                        <!-- end about -->
                        <!-- start blog post -->
                        <div class="col-md-3 col-sm-6 col-xs-12 widget sm-margin-30px-bottom">
                            <div class="widget-title alt-font text-small text-medium-gray text-uppercase margin-15px-bottom font-weight-600 xs-text-center">Latest Blog Post</div>
                            <ul class="latest-post position-relative top-3">
                                <li class="border-bottom border-color-medium-dark-gray">
                                    <figure>
                                        <a href="blog-post-layout-01.html"><img src="http://placehold.it/700x403" alt=""></a>
                                    </figure>
                                    <div class="text-small"><a href="blog-post-layout-01.html">Design is not just what looks...</a> <span class="clearfix"></span>20 April 2017 | by <a href="blog-grid.html">Herman Miller</a></div>
                                </li>
                                <li class="border-bottom border-color-medium-dark-gray">
                                    <figure>
                                        <a href="blog-post-layout-02.html"><img src="http://placehold.it/700x403" alt=""></a>
                                    </figure>
                                    <div class="text-small"><a href="blog-post-layout-02.html">A lot of care, effort & passion...</a> <span class="clearfix"></span>20 April 2017 | by <a href="blog-grid.html">Herman Miller</a></div>
                                </li>
                                <li>
                                    <figure>
                                        <a href="blog-post-layout-03.html"><img src="http://placehold.it/700x403" alt=""></a>
                                    </figure>
                                    <div class="text-small"><a href="blog-post-layout-03.html">I love making the stuff, that's...</a> <span class="clearfix"></span>20 April 2017 | by <a href="blog-grid.html">Herman Miller</a></div>
                                </li>
                            </ul>
                        </div>
                        <!-- end blog post -->
                        <!-- start newsletter -->
                        <div class="col-md-3 col-sm-6 col-xs-12 widget sm-margin-30px-bottom xs-text-center">
                            <div class="widget-title alt-font text-small text-medium-gray text-uppercase margin-15px-bottom font-weight-600">Subscribe Newsletter</div>
                            <p class="text-small width-90 xs-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <form id="subscribenewsletterform" action="javascript:void(0)" method="post">
                                <div class="position-relative newsletter width-95">
                                    <div id="success-subscribe-newsletter" class="no-margin-lr"></div>
                                    <input type="text" id="email" name="email" class="bg-transparent text-small no-margin border-color-medium-dark-gray" placeholder="Enter your email...">
                                    <button id="button-subscribe-newsletter" type="submit" class="btn btn-arrow-small position-absolute border-color-medium-dark-gray"><i class="fa fa-caret-right no-margin-left"></i></button>
                                </div>   
                            </form>
                        </div>
                        <!-- end newsletter -->
                        <!-- start instagram -->
                        <div class="col-md-3 col-sm-6 col-xs-12 widget xs-margin-5px-bottom xs-text-center">
                            <div class="widget-title alt-font text-small text-medium-gray text-uppercase margin-20px-bottom font-weight-600">Follow us Instagram</div>
                            <div class="instagram-follow-api">
                                <ul id="instaFeed-footer"></ul>
                            </div>
                        </div>
                        <!-- end instagram -->
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="footer-bottom border-top border-color-medium-dark-gray padding-30px-top">
                    <div class="row">
                        <!-- start copyright -->
                        <div class="col-md-6 col-sm-6 col-xs-12 text-left text-small xs-text-center">POFO - Portfolio Concept Theme</div>
                        <div class="col-md-6 col-sm-6 col-xs-12 text-right text-small xs-text-center">&COPY; 2017 POFO is Proudly Powered by <a href="http://www.themezaa.com" target="_blank" title="ThemeZaa">ThemeZaa</a></div>
                        <!-- end copyright -->
                    </div>
                </div>
            </div>
        </footer>
        <!-- end footer -->
        <!-- start scroll to top -->
        <a class="scroll-top-arrow" href="javascript:void(0);"><i class="ti-arrow-up"></i></a>
        <!-- end scroll to top  -->
        <!-- javascript libraries -->
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/modernizr.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
        <script type="text/javascript" src="js/skrollr.min.js"></script>
        <script type="text/javascript" src="js/smooth-scroll.js"></script>
        <script type="text/javascript" src="js/jquery.appear.js"></script>
        <!-- menu navigation -->
        <script type="text/javascript" src="js/bootsnav.js"></script>
        <script type="text/javascript" src="js/jquery.nav.js"></script>
        <!-- animation -->
        <script type="text/javascript" src="js/wow.min.js"></script>
        <!-- page scroll -->
        <script type="text/javascript" src="js/page-scroll.js"></script>
        <!-- swiper carousel -->
        <script type="text/javascript" src="js/swiper.min.js"></script>
        <!-- counter -->
        <script type="text/javascript" src="js/jquery.count-to.js"></script>
        <!-- parallax -->
        <script type="text/javascript" src="js/jquery.stellar.js"></script>
        <!-- magnific popup -->
        <script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
        <!-- portfolio with shorting tab -->
        <script type="text/javascript" src="js/isotope.pkgd.min.js"></script>
        <!-- images loaded -->
        <script type="text/javascript" src="js/imagesloaded.pkgd.min.js"></script>
        <!-- pull menu -->
        <script type="text/javascript" src="js/classie.js"></script>
        <script type="text/javascript" src="js/hamburger-menu.js"></script>
        <!-- counter  -->
        <script type="text/javascript" src="js/counter.js"></script>
        <!-- fit video  -->
        <script type="text/javascript" src="js/jquery.fitvids.js"></script>
        <!-- equalize -->
        <script type="text/javascript" src="js/equalize.min.js"></script>
        <!-- skill bars  -->
        <script type="text/javascript" src="js/skill.bars.jquery.js"></script> 
        <!-- justified gallery  -->
        <script type="text/javascript" src="js/justified-gallery.min.js"></script>
        <!--pie chart-->
        <script type="text/javascript" src="js/jquery.easypiechart.min.js"></script>
        <!-- instagram -->
        <script type="text/javascript" src="js/instafeed.min.js"></script>
        <!-- retina -->
        <script type="text/javascript" src="js/retina.min.js"></script>
        <!-- revolution -->
        <script type="text/javascript" src="revolution/js/jquery.themepunch.tools.min.js"></script>
        <script type="text/javascript" src="revolution/js/jquery.themepunch.revolution.min.js"></script>
        <!-- revolution slider extensions (load below extensions JS files only on local file systems to make the slider work! The following part can be removed on server for on demand loading) -->
        <!--<script type="text/javascript" src="revolution/js/extensions/revolution.extension.actions.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.carousel.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.migration.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.navigation.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.parallax.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.video.min.js"></script>-->
        <!-- setting -->
        <script type="text/javascript" src="js/main.js"></script>
    </body>
</html>